@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

.search_box{
    align-items: center;
    justify-content: center;
}

#priceRange{
    height: 3.65em;
    border-radius: 5em 10em 10em 5em;
}
.form-select {
    color:aliceblue;
}

.input-group-text {
    color:aliceblue;
}

.form-control {
    color:aliceblue;
}
#formSelect {
    background-color: rgb(217, 217, 217);
    border-radius: 10em 5em 5em 10em;  
}

*:focus {
    outline-color: none;
}